function Enemy.new 0
    push constant 2
    call Memory.alloc 1
    pop pointer 0
    push argument 0
    pop this 0
    push constant 1
    pop static 0
    push pointer 0
    return
function Enemy.dispose 0
    push argument 0
    pop pointer 0
    push pointer 0
    call Memory.deAlloc 1
    pop temp 0
    push constant 0
    return
function Enemy.deleteSprite 1
    push argument 0
    pop pointer 0
    push this 0
    pop local 0
    push local 0
    push constant 0
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 0
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 0
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 0
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 0
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 0
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 0
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 0
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 0
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 0
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 0
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 0
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 0
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 0
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 0
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 480
    add
    push constant 0
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 512
    add
    push constant 0
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 544
    add
    push constant 0
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 576
    add
    push constant 0
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 1
    add
    push constant 0
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 33
    add
    push constant 0
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 65
    add
    push constant 0
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 97
    add
    push constant 0
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 129
    add
    push constant 0
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 161
    add
    push constant 0
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 193
    add
    push constant 0
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 225
    add
    push constant 0
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 257
    add
    push constant 0
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 289
    add
    push constant 0
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 321
    add
    push constant 0
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 353
    add
    push constant 0
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 385
    add
    push constant 0
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 417
    add
    push constant 0
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 449
    add
    push constant 0
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 481
    add
    push constant 0
    call Helpers.safeScreenPoke 2
    pop temp 0
    push constant 0
    return
function Enemy.draw 1
    push argument 0
    pop pointer 0
    push this 0
    pop local 0
    push local 0
    push constant 32738
    neg
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 16334
    neg
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 16418
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 32742
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 1
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 32747
    neg
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 32739
    neg
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 1
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 8161
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 8161
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 1
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 1
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 4353
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 3587
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 4356
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 480
    add
    push constant 32740
    neg
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 512
    add
    push constant 16416
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 544
    add
    push constant 20256
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 576
    add
    push constant 28896
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 1
    add
    push constant 7
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 33
    add
    push constant 4
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 65
    add
    push constant 4
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 97
    add
    push constant 6
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 129
    add
    push constant 8
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 161
    add
    push constant 10
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 193
    add
    push constant 11
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 225
    add
    push constant 8
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 257
    add
    push constant 8
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 289
    add
    push constant 8
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 321
    add
    push constant 8
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 353
    add
    push constant 8
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 385
    add
    push constant 8
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 417
    add
    push constant 12
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 449
    add
    push constant 2
    call Helpers.safeScreenPoke 2
    pop temp 0
    push local 0
    push constant 481
    add
    push constant 3
    call Helpers.safeScreenPoke 2
    pop temp 0
    push constant 0
    return
function Enemy.delete 0
    push argument 0
    pop pointer 0
    push pointer 0
    call Enemy.deleteSprite 1
    pop temp 0
    push pointer 0
    call Enemy.dispose 1
    pop temp 0
    push constant 0
    return
function Enemy.getScreenLoc 0
    push argument 0
    pop pointer 0
    push this 0
    return
function Enemy.move 4
    push argument 0
    pop pointer 0
    push pointer 0
    call Enemy.deleteSprite 1
    pop temp 0
    push argument 1
    push constant 1
    eq
    not
    if-goto Enemy_1
    push this 0
    push static 0
    add
    pop this 0
    goto Enemy_0
label Enemy_1
label Enemy_0
    push argument 1
    push constant 1
    neg
    eq
    not
    if-goto Enemy_3
    push this 0
    push static 0
    sub
    pop this 0
    goto Enemy_2
label Enemy_3
label Enemy_2
    push argument 1
    push constant 0
    eq
    not
    if-goto Enemy_5
    push this 0
    push constant 960
    add
    pop this 0
    goto Enemy_4
label Enemy_5
label Enemy_4
    push pointer 0
    call Enemy.draw 1
    pop temp 0
    push constant 1
    return
    push constant 0
    return